#quote-box
{
    box-shadow:0 10px 20px;
    margin:0 auto;
    margin-top:15%;
    width:450px;
    height:250px;
}
#text
{
    font-weight: 600;
    opacity:0.7;
    font-size:18px;
    padding-top:15%;
    padding-right:15%;
    padding-left:5%;
    font-family:'Indie Flower';
    text-align: justify;
}
#author
{
    text-align: right;
    padding-top:5%;
    padding-right:2%;
    font-weight: 400;
    opacity:0.7;
    font-size:18px;
}
#btndiv
{
    margin-left:350px;
    padding-top:5%;
}
#new-quote
{
    background-color:rgba(0,0,0,0.9);
    color:white;
    text-transform: uppercase;
    padding:5%;
    border:0;
    box-shadow:0 2px 3px white;
}
#new-quote:hover
{
    padding-top:4.5%;
}